<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Blog Site</title>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script defer src="page.js" type="module"></script>
    <script src="__lightserver__/reload-client.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@unocss/runtime/mini.global.js"></script>
</head>
<body id="app">
    <header>
        <a href=""><h1>My Blog Site</h1></a>
        <a href="/top">Top Posts</a>
        <a href="/archive">Archive</a>
        <a href="/about">About Me</a>
    </header>
    <main>
        <section v-for="post in posts">
            <h2>{{ post.title }}</h2>
            <p>{{ post.published }}</p>
            <div>
                <p v-for='line in post.body.split("\n")'>{{ line }}</p>
            </div>
        </section>
    </main>
    <footer>
        Copyright &copy; {{ new Date().getFullYear() }} Hunter Henrichsen. All Rights Reserved.
    </footer>
</body>
</html>